.content
  font-size 3em
  color $gray-light

/* ====== media ====== */
.media {margin:10px;}
.media, .bd {overflow:hidden; _overflow:visible; zoom:1; }
.bd {display:inline}
.media .img {float:left; margin-right: 20px;}
.media .img img{display:inline;}
.imgExt{float:right; margin-left: 10px;}