.content
  font-size 3em
  color $gray-light



.staticmap-parent {
  //position: relative;
  overflow: hidden;
  padding-bottom: 5px; /* of parent width */
}

.featured-staticmap {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}
img {
  display: block;
}