.label
  font-size 1.8em
  text-shadow: 1px 1px #0;

.content
  font-size 1em
  color $gray-light

.alerttext
  color red
  font-size 1.5em


/* ====== media ====== */
.media {margin:10px;}
.media, .bd {overflow:hidden; _overflow:visible; zoom:1; }
.bd {display:inline}
.media .img {float:left; margin-right: 20px;}
.media .img img{display:inline;}
.imgExt{float:right; margin-left: 10px;}